<div id='contact-container'>
  <!-- <input type='checkbox' id='contact-link' />
  <label id='contact-label' for='contact-link'>pin kontaktieren  /  contact pin</label> -->
  <div id='form-messages'></div>
  <form id='contact-form' action='https://formspree.io/contact@pin.or.at' method='post'>
    <input id='msgname' class='form-input' type='text' name='name' placeholder='Name' required><br>
    <input id='msgemail' class='form-input' type='text' name='mail' placeholder='Email' required><br>
    <textarea id='msgcontent' name='comment' placeholder='Message' required></textarea><br><br>
    <input type="hidden" name="_subject" value="Nachricht via pin.or.at" />
    <input type="text" name="_gotcha" style="display:none" />
    <input class='form-button' name='submit' type='submit' value='Send'>
    <input id='form-reset' class='form-button' name='reset' type='reset' value='Reset'>
  </form>
</div>
