<header class="site-header">
  <div class='header-wrapper'>

    <div class="wrapper">

      <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><img src={{ '/assets/img/pin-web-header_420.png' | prepend: site.baseurl }} /></a>



    </div>
    <div class="language-box">

      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }} lang-link pjax" data-lang="{{ page.lang }}">{{ post.lang }}</a>{% endfor %}

      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }} lang-link pjax" data-lang="{{ page.lang }}">{{ page.lang }}</a>{% endfor %}
    </div>
  </div>
</header>
